<html>
<body>
	<h1>Register New User</h1>
	<i><small>Let's get started.</small></i><br><br><br>
	<form action="success_reg.php" method = post">
	
	First Name: <input type="text" name="firstname" pattern="[a-zA-Z].{2,}" title="Must be at least 2 characters and only alphabetical.">
	Last Name: <input type="text" name="lastname" pattern="[A-Za-z].{2,}" title="Must be at least 2 characters and only alphabetical."><br><br>
	E-mail Addr: <input type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Must be valid email address.">
	Phone: <input type="text" name="phoneno" pattern="[0-9].{9}" title="Must be 10 digit phone number."><br><br>
	Enter Password: <input type="password" name="password" pattern="[0-9].{5,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters."><br><br>
	Confirm Password: <input type="password" name="password" pattern="[0-9].{5,}"">
		
	<br><br><br>

	Account type: 
	<input type="radio" name="usertype" value="regular" required>Regular
	<input type="radio" name="usertype" value="vendor">Vendor
	<br><br><br><br>
	<input type="submit" value="Register!">

</form>
</body>
<html>
