<html>
<head>
<title> Spaces </title>
</head>

<body>
<h1> <I> Create a Space  </I> </h1>
 <form action="/spaces_page.php" method = post >
  Space Name: <input type= "text" name="space_name"><br>
<!-- Space Name -->

  Street Address:
  <input type= "text" name="street"><br>
<!-- Street Address -->

  Apartment Number:
  <input type= "text" name="apt"><br>
<!-- Apartment Number: -->

  State:
  <input type= "text" name="state"><br>
<!-- State -->

  Zip Code:
  <input type= "number" name="zipcode" pattern "[0-9]{5}"><br>
<!-- Zip Code -->

  Availability <br>
  From:
  <input type= "datetime-local" name="from"><br>
  Till:
  <input type= "datetime-local" name="till"><br>
<!-- Availability -->

 Categories
<select name= "Categories">
  <option value= "SmallBusinessRoom">Small Business Room For 50 people</option>
  <option value= "BigBusinessRoom">Big Business Room For 200 people</option>
<!-- Categories -->
</select>

  Price Per Hour:
  <input type= "number" name="price"><br>
<!-- Price -->

  Small Description:
  <input type= "text" name="description"><br>
<!-- Small Description -->

  Amenities
  <input type="checkbox" name="amenities" value= "High Speed Internet">HighSpeedInternet<br>
  <input type="checkbox" name="Amenities" value="Projector and Screen">ProjectorandScreen<br>
<!-- Amenities -->

  Pictures
  <input type="file" name="pic" accept="image/*"> <br>
  <br>
  <input type="submit">
<!-- Images -->

</form>

</body>

</html>
